body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #3b3a1f;
}

div,
p,
input,
button,
a {
    box-sizing: border-box;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1.6em;
    line-height: 1.38em;
}

.haki {
    color: darkolivegreen;
}

article {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
/* -- Делает размещение картинок в разделе наши услуги более равномерным --*/
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

.shadows {
    box-shadow: 0 50px 30px #0003;
}

.f9px {
    font-size: 9px;
}

.f10px{
    font-size: 10px;
}
.f11px {
    font-size: 11px;
}

.f12px {
    font-size: 12px;
}

.f13px {
    font-size: 13px;
}

.f14px {
    font-size: 14px;
}

.f15px {
    font-size: 15px;
}

.f16px {
    font-size: 16px;
}

.f17px {
    font-size: 17px;
}

.f18px {
    font-size: 18px;
}

.f19px {
    font-size: 19px;
}

.f20px {
    font-size: 20px;
}

.f21px {
    font-size: 21px;
}

.f22px {
    font-size: 22px;
}

.f23px {
    font-size: 23px;
}

.f24px {
    font-size: 24px;
}

.f25px {
    font-size: 25px;
}

.f26px {
    font-size: 26px;
}

.f27px {
    font-size: 27px;
}

.f28px {
    font-size: 28px;
}

.f29px {
    font-size: 29px;
}

.f30px {
    font-size: 30px;
}

.f31px {
    font-size: 31px;
}

.f32px {
    font-size: 32px;
}

.f33px {
    font-size: 33px;
}

.f34px {
    font-size: 34px;
}

.f35px {
    font-size: 35px;
}

.f36px {
    font-size: 36px;
}

.f37px {
    font-size: 37px;
}

.f38px {
    font-size: 38px;
}

.f39px {
    font-size: 39px;
}

.f40px {
    font-size: 40px;
}

.f41px {
    font-size: 41px;
}

.f42px {
    font-size: 42px;
}

.f43px {
    font-size: 43px;
}

.f44px {
    font-size: 44px;
}

.f45px {
    font-size: 45px;
}

.f46px {
    font-size: 46px;
}

.f47px {
    font-size: 47px;
}

.f48px {
    font-size: 48px;
}

.f49px {
    font-size: 49px;
}

.f50px {
    font-size: 50px;
}

.f51px {
    font-size: 51px;
}

.f52px {
    font-size: 52px;
}

.f53px {
    font-size: 53px;
}

.f54px {
    font-size: 54px;
}

.f55px {
    font-size: 55px;
}

.f56px {
    font-size: 56px;
}

.f57px {
    font-size: 57px;
}

.f58px {
    font-size: 58px;
}

.f59px {
    font-size: 59px;
}

.upper {
    text-transform: uppercase;
}

.aligner {
    text-align: center;
}

.centro {
    margin: 0 auto;
}

#first {
    padding: 0;
    margin: 0;
    background: url("../img/carwheel.jpg") no-repeat center center / cover;
    height: 100vh;
    position: relative;
    box-shadow: 0 2px 14px #e7e4bb;
}

.first-overlay {
    width: 100%;
    height: 100%;
    background: rgba(28, 66, 134, 0.7);
}

.block_container {
    display: inline-block;
    width: 100%;
    height: 65px;
    /*background-color: #aebaba;*/
    background: rgba(210, 204, 235, 0.3);
}

.cont1 {
    float: left;
    margin: 11px 5px 0 138px;
    font-family: "OpenSansRegular", serif;
}

.cont1 h3{
    float: right;
    margin: 0 0 0;
    padding: 13px 10px 0;
}

.cont_s{
    font-size: 10px;
    float: left;
    margin: 13px 4px 0 4px;
    font-family: "OpenSansRegular", serif;
    color: white;
}

.cont2 {
    float: left;
    margin: 25px 0 0 234px;
    
}

.cont3 {
    float: right;
    margin: 10px 130px 0 220px;
}

.cont3 a{
    display: block;
    border: 1px solid white;
    width: 205px;
    border-radius: 5px;
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 0;
    transition: background-color 0.5s ease;
}

.cont3 a:hover {
    background-color: #cf3f3f;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

#navbar li {
    display: inline;
    text-decoration: none;
    color: white;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 7px;
}

#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
}

#first article {
    height: 100vh;
}

.utp {

}

.bold {
    font-weight: 700;
}

.white {
    color: #fff;
}

.basics {
    position: absolute;
    bottom: 15vh;
    left: 0;
    width: 100%;
}

.title_but {
    color: white;
    padding-bottom: 286px;
    line-height: 10px;
}

.title_but h2 {
    color: white;
}

#callback{
    display: none;

}

#application{
    width: 250px;
    height: 210px;
    margin: 0 auto;
}

#zayavkaName, #num_phon{
    width: 80%;
    height: 35px;
    background: #ededed;
    margin-top: 30px;
    border: 1px solid #cccbd3;
    border-radius: 7px;
    text-align: center;
    color: #242631;
    font-size: 15px;
}

.applicationButton{
    height: 28px;
    margin-top: 29px;
    background: #cf3f3f;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
}

.skills i {
    margin-left: 24px;
}

.skills i:nth-child(1) {
    margin-left: 0;
}

.button {
    background: #cf3f3f;
    border-radius: 5px 5px 5px 5px;
    padding: 24px 30px 26px 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 270px;
    margin-left: -150px;
    text-decoration: none;
    margin-bottom: 24vh;
    color: white;
}

.button:hover {
    background-color: #bf2020;
    transition: background-color 0.5s ease;
}

.lefter {
    float: left;
}

.righter {
    float: right;
}
h1{
    font-size: 46px;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    text-align: center;
    color: #122250;
    text-transform: uppercase;
}

h3{
    font-size: 13px;
    text-align: center;

    text-transform: uppercase;
}

p{
    font-size: 20px;
}
/* ------   Наши услуги  ---------*/
#our_service {
    padding-top: 60px;
    color: #122250;
    padding-bottom: 65px;
    height: 640px;
    background-color: #ededed;
}
/*
#our_service h2{
    color: #122250;
}*/
.one {
    width: 290px;
    background: url("../img/disapear.png") no-repeat center top;
    padding-top: 141px;
    margin-right: 98px;
    margin-left: 52px;
}

.one:nth-child(2) {
    background: url("../img/wannabet.png") no-repeat center top;
    margin-right: 80px;
    margin-left: 0;
}

.one:nth-child(3) {
    background: url("../img/moneyback.png") no-repeat center top;
    margin-right: 0;
    margin-left: 0;
}

.one2 {
    width: 290px;
    background: url("../img/attorney.png") no-repeat center top;
    padding-top: 141px;
    margin-right: 98px;
    margin-left: 52px;
}

.one2:nth-child(2) {
    background: url("../img/badroad.png") no-repeat center top;
    margin-right: 80px;
    margin-left: 0;
}

.one2:nth-child(3) {
    background: url("../img/consult.png") no-repeat center top;
    margin-right: 0;
    margin-left: 0;
}

.one3{
    color: black;
    margin-bottom: 30px;
}

/* кнопка На верх*/
#toTop{
   /* padding: 5px;*/
    cursor: pointer;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    position: fixed;
    display: none;
    padding-bottom: 12px;
}
/*-----------*/
#about {
    /*background-color: #6b6e72;*/
    background: url(../img/bl_bgrnd.jpg) repeat;
    padding-top: 60px;
    color: #6b6e72;
    padding-bottom: 87px;
    height: 640px;
}

#about h2{
    margin-bottom: 61px;
 /*   color: #122250;*/
}

#about p{
    color: #122250;
}
/*
#about{
    height: 1000px;
    background-color: #aebaba;
}
*/

.text{
    width: 754px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    border: solid #6C6969 1px;
    -webkit-box-shadow: 0 10px 6px -6px #171616;
    -moz-box-shadow: 0 10px 6px -6px #fefefe;
    box-shadow: 0 10px 6px -6px #776868;
    background-color: #ededed;
}

.img1{
    display: inline-block;
}

.img2{
    display: inline-block;
    margin-left: 180px;
}

.img3{
    display: inline-block;
    margin-left: 160px;
}


/*
#dg-container{
    padding-top: 60px;
    color: #e7e4bb;
    padding-bottom: 65px;
    background-color: #ededed;
}

#dg-container h2{
    margin-bottom: 61px;
    color: #6b6e72;
}
*/
/*
.otzivi img{
    float: left;

}
*/
.dg-wrapper a img{
    color: #6b6e72;
    font-size: 13px;
    text-decoration: none;
    margin: 20px auto;
}

.dg-wrapper a{
    text-decoration: none;
    font-size: 13px;
}

.dg-wrapper h5{
    font-size: 15px;
    /*text-align: center;*/
    margin: 0px 74px;
}

.dg-wrapper p{
    font-size: 13px;
    /*text-align: center;*/
    margin: 0px 74px;
}

hr{
    width: 342px;
}

.icons {
    margin-top: 40px;
}
/*
.icons2{
    width: 754px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    border: solid #3C3F41 1px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
*/
.newsletter {
    background: url(../img/bl_bgrnd.jpg) repeat;
    color: #e7e4bb;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0 2px 14px #e7e4bb;
}

.newsletter

.explain {
    margin-top: 10px;
    line-height: 1.5em
}

#red h2 {
    margin-bottom: 20px;
}

.cell {
    background: transparent;
    border: 1px solid #e7e4bb;

    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;
    width: 252px;
    margin-right: 20px;
}

.act {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 13px 30px;
    border: 1px solid #e7e4bb;
    background: transparent;
    color: #e7e4bb;
}

form {
    text-align: center;
    margin: 40px auto;
}

.podval {
    padding-top: 50px;;
    background-color: #122250;
    height: 290px;
    color: #e7e4bb;
}

.sizd {
    margin-left: 215px;
    display: inline-block;
    box-sizing: border-box;
    height: 138px;
    border-left: 1px solid #e7e4bb;
    padding-left: 0;
    margin-top: 30px;
}

.sizd ul{
    line-height: 26px
}

.sizd li{
    list-style-type: none;
 /*   color: #0066FF;*/

}

.sizd li a{
    text-decoration: none;
    color: #e7e4bb;
}
.iconki {
    padding: 0px 5px 0;

}
/*
.social{
    margin-left: 142px;
    display: inline-block;
    box-sizing: border-box;
    height: 138px;
    border-left: 1px solid #e7e4bb;
    padding-left: 0;
    margin-top: 30px;
}
*/
.contain{
    display: inline-block;
}

.contain .social{
    margin-left: 142px;
    display: inline-block;
    box-sizing: border-box;
    height: 138px;
    border-left: 1px solid #e7e4bb;
    padding-left: 30px;
    margin-top: 30px;
    float: right;
}

.tr_social{
    padding-left: 28px;
    padding-top: 55px;
    line-height: 20px;
    cursor: pointer;
}

.tr_contac{
    padding-left: 54px;
    padding-top: 55px;
}

.contain .contact{
    margin-left: 142px;
    display: inline-block;
    box-sizing: border-box;
    height: 138px;
    border-left: 1px solid #e7e4bb;
    padding-left: 30px;
    margin-top: 30px;
    float: right;
}

.policy{
    text-align: left;
    margin-top: 40px;
}

.cop_right {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 213px;
}

.fa{
    margin-left: 30px;
}

.tr_contac{
    line-height: 20px;
}
