@media screen and (max-width: 1024px){
    article{
        width: 90%;
    }

    .cont_s white > h3{
        display: none;
    }
    
    .one{
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    
    .one2{
        float: none;
        width: 100%;
        margin: 0 0 50px;
    }
    
    .one3{
        float: none;
        width: 100%;
        margin: 0 0 50px;
    }
    
    #program{
         height: auto;
     }

    .wheel{
        width: 80%;
        position: absolute;
        padding-left: 0;
        padding-top: 27px;
        margin-left: 0;
        left: 20px;
    } 
    
    .cell{
        display: block;
        width: 70%;
        margin: 0 auto 20px auto;
   }

}
 
 @media screen and (max-width: 768px){
     article{
        width: 70%;
    }
    .icon1, .icon2{
        color: black; 
    } 
     
     #program{
         height: auto;
     }
     
     .explain{
         width: 400px;
     } 
     
    .title{
        font-size: 28px;
        margin-bottom: 55px;
    }
    
} 


@media screen and (max-width: 334px){
    .wheel{
        width: 80%;
        position: absolute;
        padding-left: 0;
        padding-top: 27px;
        margin-left: 0;
        left: 20px;
    }
    
    .explain{
        width: 200px;
        font-size: 13px;
    }   
    
    .skills{
        margin-bottom: 49px;
    }
    
    .title{
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .basics{
        margin-bottom: 0;
    }
    #our_service {
        height: 940px;
    }
    .menu h3{
        display: none;
    }
    .basics h1{
        font-size: 16px;
    }
    .basics h2{
        font-size: 12px;
    }
    .cont3{
        display: none;
    }
    .cont1 img{
        padding-left: 0;
        margin-left: 0;
    }
    .cont1 {
        margin: 7px 5px 0 65px;
    }
}

 