@media screen and (max-width: 1024px){
    article{
        width: 90%;
    }
    
   /* --  .icons1, .icons2{
        display: none; 
    } непоказываем  --*/
    
    .one{
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    
    .one2{
        float: none;
        width: 100%;
        margin: 0 0 50px;
    }
    
    .one3{
        float: none;
        width: 100%;
        margin: 0 0 50px;
    }
    
    #program{
         height: auto;
     }
    

    
    .wheel{
        width: 80%;
        position: absolute;
        padding-left: 0;
        padding-top: 27px;
        margin-left: 0;
        left: 20px;
    } 
    
    .cell{
        display: block;
        width: 70%;
        margin: 0 auto 20px auto;
   }
}
 
 @media screen and (max-width: 768px){
     article{
        width: 70%;
    }
    .icon1, .icon2{
        color: black; 
    } 
     
     #program{
         height: auto;
     }
     
     .explain{
         width: 400px;
     } 
     
    .title{
        font-size: 28px;
        margin-bottom: 55px;
    }
     .cont_s white h3{
        font-size: 80px;
    }
    
} 


@media screen and (max-width: 334px){
    .block_container menu{
        display: list-item;
    }
    .cont_s white{
        visibility: hidden;
    }

    .wheel{
        width: 80%;
        position: absolute;
        padding-left: 0;
        padding-top: 27px;
        margin-left: 0;
        left: 20px;
    }
    
    .explain{
        width: 200px;
        font-size: 13px;
    }   
    
    .skills{
        margin-bottom: 49px;
    }
    
    .title{
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .basics{
        margin-bottom: 0;
    }

}

 